<div class="row row-offcanvas row-offcanvas-right" ng-show="!currentUser">
  <div class="col-xs-12">
      <div class="row">
          <div class="col-xs-12 col-lg-12">
              <h1 id="introheading">Hello! <br />Welcome to POD</h1>
              <p class="lead">{{ hello }}</p>
              <div class="row">
                  <div class="col-xs-12 col-lg-12">
                      <div class="text-center">
                          <img id="hexstyle" src="/modules/core/client/img/newhex/lookaround.png" alt="logo" />

                          <a href="#login">
                              <img id="hexstyle" src="/modules/core/client/img/newhex/login.png" alt="logo" />
                          </a>

                          <a href="#about">
                              <img id="hexstyle" src="/modules/core/client/img/newhex/aboutus.png" alt="logo" />
                          </a>
                      </div>
                  </div>
              </div>
          </div>

          <p id="introtext">People On Demand (POD) are Manchester based creatives available for work in the digital sector.
              Please have a look at individual profiles and search through the wide range of skills on offer. Enquire, Click, Hire, Simple!
          </p>

          <p id="introtext">SharpFutures is a social enterprise that supports young people into employment in the creative digital sector.
              By offering a range of interventions including Aprrenticeships, Work Experience and Volunteering, SharpFutures nurture
              the transition into work, whilst responding to the fluctuating needs of creative digital businesses. We seed ideas
              through services for education, nurture the best talent by offering employment opportunities and real work experience,
              and we grow through the sale of this service.
          </p>
      </div>
  </div>
</div>
